@media screen and (max-width:768px){
    .page .row{
        min-height: 100vh;
        align-content: center;
        justify-content: center;
        padding: 0% 3%;
    }

    p, span{
        color: #333;
        margin: 0;
        font-size: 0.85rem;
        line-height: 150%;
        letter-spacing: 1px;
        text-align: justify;
    }

    .page .left{
        margin-bottom: 5%;
    }

    .page .row:before {
        content: unset;
    }

    .page01 .row{
        align-content: flex-start;
    }

    .page01 .containertxt{
        padding-top: 15%;
    }

    .weatherBox.show{
        width: 40vw;
    }
}